@font-face {
    font-family: RubikBlack;
    src:   url('../asserts/fonts/Rubik/static/Rubik-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: RubikBlack;
    src:   url('../asserts/fonts/Rubik/static/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: RubikRegular;
    src:   url('../asserts/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: RubikRegular;
    src:   url('../asserts/fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }