@import '../variables';
@import '../mixin';

.hearder-banner {
    background: url("../images/bg-intro-desktop.svg") no-repeat;
    background-size: contain;
    position: relative;
    z-index: -1;
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(lg) {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        background: url("../images/bg-intro-desktop.svg") no-repeat;
        background-position:624px -250px;
        height: 652px;
        

      }

      .img-phone {
        overflow: hidden;
        img {
            width: 100%;
           position: relative;
          
           bottom: 145px;
       
           @include media-breakpoint-up(lg) {
               left: 119px;
               bottom: 0;
           }
        
           }
      }

    .request-section {
      
        padding: 0 36px 40px;
        position: relative;
        bottom: 94px;
        text-align: center;

        @include media-breakpoint-up(lg) {
            width: 50%;
            text-align: left;
            margin-left: 130px;
        }

        h1 {
            text-align: center;
            color: $dark-blue;
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 34px;
            font-family: "Public Sans", sans-serif;

            @include media-breakpoint-up(lg) {
               font-size: 64px;
               text-align: left;
            }
        }

        p {
            text-align: center;
            color:$grayish-blue;

            @include media-breakpoint-up(lg) {
                text-align: left;
                margin-bottom: 44px;
                width: 65%;
             }
        }

        button {
            @include btn-primary;
            text-align: center;
            
            @include media-breakpoint-up(lg) {
                
             }
        }
    }
}