/* Stylesheet that consist styles for the projects*/

@import "variables.scss"; // importing the study guide to the stylesheet.

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $egg-shell;
  font-family: $body-font-family;
  color: $wenge-brown;

  @media (min-width: $breakpoint-tablet) {
    padding: 100px;
  }

  .recipe-container {
    background-color: $white;

// Media query for tablet and up
    @media (min-width: $breakpoint-tablet) {
      max-width: 738px;
      border-radius: 30px;
    }
    .image {
      max-width: 568px;
      margin-bottom: 30px;

      // Media query for tablet and up
      @media (min-width: $breakpoint-tablet) {
        max-width: 658px;
        border-radius: 50px;
        padding: 37px 38px 0;
      }
    }
    .recipe-inner-container {
        padding: 12px 33px 71px 127px;

     // Media query for tablet and up
      @media (min-width: $breakpoint-tablet) {
        padding: 8px 36px
      }
      header {
        h1 {
          margin: 0 0 23px 0;
          font-family: $heading-font;
          font-size: 38px;
          line-height: 38px;
          color: $dark-charcoal;
        }
        p {
          margin: 0;
          color: $wenge-brown;
          line-height: 23px;
        }
      }
      .preparation-container {
        background-color: $rose-white;
        padding: 20px;
        margin-top: 20px;
        border-radius: 15px;

        h2 {
          margin-top: 0;
          font-size: 20px;
          font-weight: 600;
          color: $nutmeg;
        }

        ul {
          padding-inline-start: 20px;
          li {
            padding: 0 25px;
            margin-bottom: 10px;
          }
        }
      }
      .ingredient-container {
        border-bottom: 1px solid $light-grey;

        h2 {
          font-family: $heading-font;
          color: $nutmeg
        }
        ul {
          padding-inline-start: 20px;
          li {
            &::marker {
                color: $nutmeg;
                font-weight: 600;
            }
            padding: 0 25px;
            margin-bottom: 10px;
            font-weight: 400;
          }
        }
      }
      .instruction-container {
        border-bottom: 1px solid $light-grey;
       h2 {
          font-family: $heading-font;
          color: $nutmeg;
       }

       ol {
        padding-inline-start: 20px;
        color: $nutmeg;
        li {
            &::marker {
                color: $nutmeg;
                font-weight: 600;
            }
          padding: 0 25px;
          margin-bottom: 10px;
          line-height: 26px;
          color: $wenge-brown;
          font-weight: 400;
        }
      }
      }
      .nutrition-container {
         
         h2 {
            font-family: $heading-font;
            color: $nutmeg;
         }

         p {
            padding-right: 28px;
         }

         table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 40px;
         }

         tr {
            border-bottom: 1px solid #ccc;
            font-weight: 400;
         }

         th {
            font-weight: 400;
         }
         
         td {
            padding: 10px;
            color: $nutmeg;
            font-weight: 600;
         }

      }
    }
  }
}
