@font-face {
  font-family: "Fira Sans Bold";
  src: url("fonts/Rubik/static/Rubik-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Fira Sans Light";
  src: url("fonts/Rubik/static/Rubik-Light.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Fira Sans Regular";
  src: url("fonts/Rubik/static/Rubik-Regular.ttf") format("truetype");
  font-weight: 500;
}
.phone-sction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 46px;
}
@media only screen and (min-width: 1100px) {
  .phone-sction {
    flex-direction: row;
    max-width: 60%;
    margin: auto;
    gap: 172px;
  }
}
.phone-sction .phone-container {
  width: 250px;
  height: 550px;
  background: hsl(0, 0%, 100%);
  border-radius: 1rem;
  padding: 10px;
  box-shadow: 1rem 1rem 3.5rem rgba(0, 0, 0, 0.1);
}
.phone-sction .phone-container .inner-phone-container {
  width: 250px;
  height: 550px;
  background: hsl(270, 20%, 96%);
  margin: auto;
  border-radius: 1rem;
}
.phone-sction .phone-container .inner-phone-container .phone-speaker-section {
  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 1em 1rem 0.4rem 0.4rem;
  height: 86px;
}
.phone-sction .phone-container .inner-phone-container .phone-speaker-section .phone-speaker {
  width: 130px;
  height: 26px;
  background: white;
  margin: 0 auto 13px;
  border-radius: 0 0 50rem 50rem;
}
.phone-sction .phone-container .inner-phone-container .phone-speaker-section .chat-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  margin-bottom: 13px;
}
.phone-sction .phone-container .inner-phone-container .phone-speaker-section .chat-header .chat-person {
  display: flex;
  gap: 10px;
  position: relative;
  right: 33px;
}
.phone-sction .phone-container .inner-phone-container .phone-speaker-section .chat-header .chat-person img {
  height: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid hsl(0, 0%, 100%);
}
.phone-sction .phone-container .inner-phone-container .phone-speaker-section .chat-header .chat-person .avator-name {
  position: relative;
  top: 5px;
}
.phone-sction .phone-container .inner-phone-container .phone-speaker-section .chat-header .chat-person .avator-name p {
  margin: 0;
  font-size: 12px;
  color: hsl(0, 0%, 100%);
}
.phone-sction .phone-container .inner-phone-container .phone-speaker-section .chat-header .chat-person .avator-name small {
  font-size: 8px;
  color: hsl(0, 0%, 100%);
  position: relative;
  bottom: 8px;
}
.phone-sction .phone-container .inner-phone-container .chat-section .left {
  padding-left: 12px;
}
.phone-sction .phone-container .inner-phone-container .chat-section .left .purple-chat {
  background: hsla(276, 100%, 81%, 0.53);
  color: hsl(276, 55%, 52%);
  max-width: 75%;
  font-size: 12px;
  border-radius: 10px;
  padding: 5px 10px 5px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.phone-sction .phone-container .inner-phone-container .chat-section .left .purple-chat p {
  margin: 0;
}
.phone-sction .phone-container .inner-phone-container .chat-section .right {
  text-align: right;
  padding-right: 12px;
}
.phone-sction .phone-container .inner-phone-container .chat-section .right .dog-images {
  display: flex;
  justify-content: end;
  gap: 10px;
}
.phone-sction .phone-container .inner-phone-container .chat-section .right .dog-images img {
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.phone-sction .phone-container .inner-phone-container .chat-section .right .white-chat {
  background: hsl(0, 0%, 100%);
  width: max-content;
  max-width: 75%;
  background-color: white;
  color: var(--very-dark-desaturated-violet);
  padding: 0.5rem;
  margin-block: 0.5rem;
  margin-left: auto;
  border-radius: 0.5rem 0.5rem 0.25rem 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.107);
}
.phone-sction .phone-container .inner-phone-container .chat-section .right .white-chat p {
  margin: 0;
  font-size: 12px;
}
.phone-sction .phone-container .inner-phone-container .chat-section .notify {
  display: flex;
  max-width: 10rem;
  background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  margin-block: 0.5rem;
  border-radius: 0.5rem 0.5rem 0.5rem 0.25rem;
  gap: 10px;
  color: hsl(0, 0%, 100%);
}
.phone-sction .phone-container .inner-phone-container .chat-section .notify p {
  margin: 0;
  font-size: 12px;
}
.phone-sction .phone-container .inner-phone-container .chat-section .notify .circle {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 100%;
}
.phone-sction .phone-container .inner-phone-container .chat-section .chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--clr-text-input);
  font-size: 0.575em;
  background-color: white;
  padding: 0.5em 0.75em 0.5em 1.5em;
  margin: 0 0.5em 0.5em 0.5em;
  border-radius: 25px;
  flex-direction: row-reverse;
}
.phone-sction .phone-container .inner-phone-container .chat-section .chat-input img {
  width: 20px;
  height: 20px;
}
.phone-sction .phone-content {
  text-align: center;
  padding: 38px;
}
@media only screen and (min-width: 1100px) {
  .phone-sction .phone-content {
    text-align: left;
    padding: 0;
  }
}
.phone-sction .phone-content h1 {
  font-size: 30px;
  letter-spacing: 1px;
  color: hsl(271, 36%, 24%);
}
@media only screen and (min-width: 1100px) {
  .phone-sction .phone-content h1 {
    font-size: 50px;
    letter-spacing: 1.5px;
  }
}
.phone-sction .phone-content p {
  color: hsl(206, 6%, 79%);
  font-weight: 400;
  font-family: "Fira Sans Regular", sans-serif;
  line-height: 21.4px;
}
@media only screen and (min-width: 1100px) {
  .phone-sction .phone-content p {
    line-height: 25.4px;
  }
}

/*# sourceMappingURL=phone.css.map */
