@font-face {
    font-family: Barlow_Semi_Black;
    src: url('../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Barlow_Semi_Regular;
    src: url('../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Barlow_Semi_Regular;
    src: url('../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: Barlow_Semi_Bold;
    src: url('../fonts/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf');
    font-weight: bold;
    font-style: normal;
  }